<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP7bGZdW9jei2O315zZsSRd6hhCvyEsBU</string>
	<key>GCM_SENDER_ID</key>
	<string>502418806880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notification-9d661</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-9d661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502418806880:ios:e73f1c0bb217da84e40b05</string>
</dict>
</plist>